<div class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="warning-icon glyphicon glyphicon-warning-sign text-red"></span> {{_title}}
      </div>
      <div class="modal-body">
        {{_message}}
      </div>
      <div class="modal-footer">
        <button role="button" (click)="_onCancel($event)" class="btn btn-default">Cancel</button>
        <button role="button" (click)="_onConfirm($event)" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>