.match {
  padding: 0;
  margin-bottom: 0;
}

.match.active {
  font-weight: bold;
}

.match.over {
  opacity: 0.8;
}

.match .side,
.match .vs {
  padding: 10px 5px;
}

.match .vs {
  text-transform: uppercase;
  font-weight: bold;
}

.match .win-icon {
  opacity: 0;
  font-size: 1.5em;
  color: white;
  transition: 0.2s opacity;
}

.match .win-icon.shown {
  opacity: 1;
  color: #FFA000;
}

.match.active .side:hover .win-icon {
  opacity: 1;
}

.match .win-icon.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.match .win-icon.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
