<form class="row" (ngSubmit)="onWantAdd($event)">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" name="name" [(ngModel)]="tournament.name" required />
    </div>

    <div class="form-group">
      <label class="radio-inline"><input type="radio" name="type" value="ROUND_ROBIN" [(ngModel)]="tournament.type">Round Robin</label>
    </div>
  </div>
  <div class="col-md-6">
    <app-players-list [players]="players" [selectedPlayerIds]="tournament.players" (onWantAddEvent)="onWantAddPlayer($event)"
      (onWantDeleteEvent)="onWantDeletePlayer($event)" [isSelectMode]="true">
    </app-players-list>
  </div>
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary">Start Tournament</button>
  </div>
</form>