<ul class="list-group">
  <li *ngFor="let p of players" [attr.role]="isSelectMode ? 'button' : ''" class="list-group-item" [class.active]="p.isSelected"
    (click)="onSelect(p)">
    {{ p.name }}
    <span *ngIf="!isSelectMode" role="button" class="glyphicon glyphicon-remove-sign" aria-hidden="true" (click)="onWantDelete(p)"></span>
  </li>

  <li role="button" class="list-group-item" *ngIf="!isAdding" (click)="onWantViewAdd()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </li>

  <li class="list-group-item" *ngIf="isAdding">
    <player-add (onWantAddEvent)="onWantAdd($event)">
    </player-add>
  </li>
</ul>

<confirmation-modal [message]="deleteModalMessage" [title]="deleteModalTitle" [isShown]="isDeleteModalShown" (onCancelEvent)="onDeleteCancel($event)"
  (onConfirmEvent)="onDeleteConfirm($event)"></confirmation-modal>