<div class="h1">
  Players
  <div role="button" (click)="_onWantViewAdd()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </div>
</div>

<ul class="list-group">
  <li *ngFor="let p of _players" [attr.role]="isSelectMode ? 'button' : ''" class="player list-group-item" [class.active]="p.isSelected"
    (click)="_onSelect(p)">
    {{ p.name }}
    <div role="button" (click)="_onWantDelete(p)">
      <span *ngIf="!isSelectMode" class="delete-icon glyphicon glyphicon-remove-sign text-red" aria-hidden="true"></span>
    </div>
  </li>

  <li class="list-group-item" *ngIf="_isAdding">
    <app-player-add (onAddedEvent)="_onPlayerAdded($event)">
    </app-player-add>
  </li>
</ul>

<app-confirmation-modal [message]="_deleteModalMessage" [title]="_deleteModalTitle" [isShown]="_isDeleteModalShown" (onCancelEvent)="_onDeleteCancel($event)"
  (onConfirmEvent)="_onDeleteConfirm($event)">
</app-confirmation-modal>