<div class="col-md-6">

  <ul class="list-group">
    <li [attr.role]="isSelectMode ? 'button' : ''" class="list-group-item" [class.active]="p.isSelected" *ngFor="let p of players"
      (click)="onSelect($event, p)">
      {{ p.name }}
    </li>

    <li role="button" class="list-group-item" *ngIf="!isAdding" (click)="onWantAdd($event)">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </li>

    <li class="list-group-item" *ngIf="isAdding">
      <player-add (onAdded)="onAdded($event, player)">
      </player-add>
    </li>
  </ul>

</div>